body {
    /* background-color: beige; */
    margin: 0px;
    padding: 0px;
}

ul {
    padding-left: 10px;
}

.txt-bg-yellow{
    background-color: yellow;
}

header .banner{
    position: relative;
    background-color: #4EA0FF;
    background-image: url('../images/pattern.png');
    width: 100%;
    height: 170px;
}

header .banner .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4EA0FF;
    opacity: 0.6;
}

header .banner .logo {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
}


header .banner .logo img{
    position: absolute;
    height: 50px;
    bottom: 0px;
}

main {
    width: 90%;
    margin: auto;
}

main .titolo {
    padding: 10px;
}

main .titolo .desc {
    font-weight: bold;
    color: #989898;
}

main .titolo .desc .author .author-name {
    color: #4BBAEA;
}

main .titolo .desc .date {
    font-size: 0.8rem;
}

main .header-gallery .gallery {
    text-align: center;
}

main .header-gallery .gallery img {
    width: 49%;
    height: 362px;
}

main .header-gallery .desc {
    font-size: 0.8rem;
    margin: 0px 10px;
}

main .content {
    margin: 10px;
}

main .content .table {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

main .content .table table {
    border-collapse: collapse;
    text-align: left;
}

main .content .table table thead {
    background-color: #20A9E5;
    color: #fff;
}
main .content .table table th {
    width: 30%;
}

main .content .table table tbody{
    font-size: 0.8rem;
}

main .content .table table tbody tr:nth-child(even) {
    background-color: #B1E5F2;
}

main .content .table table tbody tr:nth-child(odd) {
    background-color: #fff;
}

footer{
    width: 90%;
    margin: auto;
}

footer .articles h4 {
    color: #989898;
}

footer .articles .article {
    width: 310px;
    height: 210px;
    margin: 10px 0px;
    background-color: #989898;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer .articles .article h3{
    padding: 10px;
}

footer .articles .a-img-1 {
    background-image: url('../images/monitor.jpg');
    
}
footer .articles .a-img-2 {
    background-image: url('../images/graph.jpg');
}



